


/*************************       Body       *************************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*************************      Header     *************************/

/*************************       Main      *************************/
.main-container {
    flex: 1;
}

/*************************     Controls    *************************/

/*************************      Search     *************************/

/*************************     Filters     *************************/

/*************************     Buttons     *************************/

/*************************      Results    *************************/

/************************* Characters Grid *************************/

/*************************      Cards      *************************/

/*************************    Pagination   *************************/

/*************************      Footer     *************************/

/*************************    Utilities    *************************/